{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
End of Study
{% endblock %}

{% block content %}
<div class="card bg-light instructions">
    <div class="card-body">


 Thank you very much for your participation in today’s study.
The results of the risk and the investment games, and total payment due
to you from these two games can be obtained from the study Coordinator.
Please bring your tablet to your group Coordinator and collect your results
and payment information.

<p></p> All payments will be sent to you on the next business day via MPesa number you provided.
You will also receive a acknowledgement for this payment for your record.
Should you have any issues with receiving your payment, please contact
Aisha Otwoma at <b>0707387429</b>. You may note this down for your personal reference.
  </div>
</div>
{% endblock %}



